 @model IEnumerable<BearingApp.Models.MeebaInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<canvas id="myChart" width="400" height="400"></canvas>
<canvas id="canvas"></canvas>
<script>


    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["Appointment", "Social", "Event", "Personal", "Work", "Other"],

            datasets: [
                {
                    label: 'Pull',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: ['rgba(99, 109, 255, 0.2)',] ,

               },
                {
                    label: 'Meeba',
                    data: [1, 13, 10, 8, 12, 13],
                    backgroundColor: ['rgba(57, 169, 238, 0.2)',]
                },


        ]
    },
        options: {
            scales: { display: false ,
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<script>
    var canvas = document.getElementById("canvas").getContext('canvas');
    var ctx = canvas.getContext('2d');
    var gradient = ctx.createLinearGradient(0, 0, 200, 0);
    gradient.addColorStop(0, 'green');
    gradient.addColorStop(1, 'white');
    ctx.fillStyle = gradient;
    ctx.fillRect(10, 10, 200, 100);

</script>